body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:gainsboro;
    height: 100vh;
}
.header {
    width: 100%;
    height: 15%;
    background-color: #00BCD4;
}
.container {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left {
    width: 30%;
    height: 100%;
    background-color: #0288D1
}
.right {
    width: 70%;
    height: 100%;
    background-color: #03A9F4;
}
.footer {
    width: 100%;
    height: 20%;
    background-color: #0097A7;
}